<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" second="60 seconds">
    <!--name 是在logback中引用的名字, source是spring的properties名字-->
    <!--<springProperty scope="context" name="log.application.name" source="spring.application.name"/>-->

    <!--name 是在logback中引用的名字, value 里的占位符是maven打包时替换的-->
    <!--<property name="log.access.pattern" value="${shinemo.logback.access.pattern}"/>-->

    <!--如需使用彩色日志，引入此文件，或拷贝该文件的conversionRule标签配置项，彩色日志可能会串行-->
    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml" />-->

    <springProperty scope="context" name="log.home" source="shinemo.log.home" />
    <springProperty scope="context" name="log.level" source="shinemo.log.level" />
    <springProperty scope="context" name="log.charset" source="shinemo.application.charset" defaultValue="utf-8" />
    <springProperty scope="context" name="log.application.name" source="spring.application.name" />
    <springProperty scope="context" name="log..access.max.history" source="shinemo.log.access.max.history" defaultValue="3" />
    <springProperty scope="context" name="log.access.max.file.size" source="shinemo.log.access.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="log.access.pattern" source="shinemo.log.access.pattern" />
    <springProperty scope="context" name="log.error.max.history" source="shinemo.log.error.max.history" defaultValue="7" />
    <springProperty scope="context" name="log.error.max.file.size" source="shinemo.log.error.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="log.error.pattern" source="shinemo.log.error.pattern" />
    <springProperty scope="context" name="log.info.max.history" source="shinemo.log.info.max.history" defaultValue="3" />
    <springProperty scope="context" name="log.info.max.file.size" source="shinemo.log.info.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="log.info.pattern" source="shinemo.log.info.pattern" />
    <springProperty scope="context" name="log.application.max.history" source="shinemo.log.application.max.history" defaultValue="3" />
    <springProperty scope="context" name="log.application.max.file.size" source="shinemo.log.application.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="log.application.pattern" source="shinemo.log.application.pattern" />
    <springProperty scope="context" name="log.sql.max.history" source="shinemo.log.sql.max.history" defaultValue="7" />
    <springProperty scope="context" name="log.sql.max.file.size" source="shinemo.log.sql.max.file.size" defaultValue="100MB" />
    <springProperty scope="context" name="log.sql.pattern" source="shinemo.log.sql.pattern" />
    <springProperty scope="context" name="log.console.pattern" source="shinemo.log.console.pattern" />
    <springProperty scope="context" name="log.history.suffix" source="shinemo.log.history.suffix" defaultValue=".log" />

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/access.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/access.log.%d{yyyy-MM-dd}-%i</FileNamePattern>
            <maxHistory>${log.access.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.access.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>${log.access.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${log.application.name}.error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/${log.application.name}.error.%d{yyyy-MM-dd}-%i${log.history.suffix}</FileNamePattern>
            <maxHistory>${log.error.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.error.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <encoder>
            <pattern>${log.error.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${log.application.name}.info.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/${log.application.name}.info.%d{yyyy-MM-dd}-%i${log.history.suffix}</FileNamePattern>
            <maxHistory>${log.info.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.info.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>${log.info.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/${log.application.name}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/${log.application.name}.%d{yyyy-MM-dd}-%i${log.history.suffix}</FileNamePattern>
            <maxHistory>${log.application.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.application.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log.level}</level>
        </filter>
        <encoder>
            <pattern>${log.application.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/sql.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.home}/sql.%d{yyyy-MM-dd}-%i${log.history.suffix}</FileNamePattern>
            <maxHistory>${log.sql.max.history}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log.sql.max.file.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log.level}</level>
        </filter>
        <encoder>
            <pattern>${log.sql.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.console.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root>
            <appender-ref ref="CONSOLE" level="${log.level}"/>
        </root>
    </springProfile>

    <springProfile name="!dev">
        <logger name="access" additivity="false">
            <level value="info"/>
            <appender-ref ref="ACCESS"/>
        </logger>

        <logger name="mapper" additivity="false">
            <level value="${log.level}"/>
            <appender-ref ref="SQL"/>
        </logger>

        <root>
            <appender-ref ref="APPLICATION" level="${log.level}"/>
            <appender-ref ref="ERROR" level="ERROR"/>
        </root>
    </springProfile>

</configuration>